/P7 Message.py
/P7 RadioButton.py
/P7 Scale.py
/P7 ScrollBar.py
/P7 Text.py
/Pertemuan 1 - Introduction to Python.pptx
/Pertemuan 4 Create Class.py
/Pertemuan 4.py
/Pertemuan 7 CheckButton.py
/Pertemuan 7 Entrry.py
/Pertemuan 7 Frame.py
/Pertemuan 7 Label.py
/Pertemuan 7 Listbox.py
/Pertemuan 7 MenuButton.py
/Pertemuan 7 Tkinter.py
/Pertemuan 7 Tkinter2.py
/Pertemuan4
/Praktikum1.py
/Praktikum7.py